@charset "utf-8";

/*-----------------
*
背景グレー
まだスマホ・タブレット化は未実装
-----------------*/
*
{
    margin: 0px;
    padding: 0px;
}

/*-----------------
body
背景グレー
まだスマホ・タブレット化は未実装
-----------------*/
body
{
    background-color: #ffffff;
}
